@charset "utf-8";
.settings-cont {
  width: 1200px;
  margin: 0 auto;
  min-height: 660px;
  padding: 30px 60px 30px 0;
}
.settings-cont .rlf-input {
  border-color: #98a1a6;
}
.settings-cont rlf-input:focus {
  border-color: #98a1a6;
}
.settings-cont .rlf-field-error:focus {
  box-shadow: initial;
}
.settings-cont .setting-left {
  width: 260px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
.settings-cont .setting-left li {
  position: relative;
  border-bottom: 1px solid #e6e8e9;
  margin-bottom: -1px;
}
.settings-cont .setting-left li.active a {
  border-left: 2px solid #cc0000;
  padding-left: 45px;
  color: #cc0000;
}
.settings-cont .setting-left a {
  display: block;
  height: 59px;
  padding-left: 47px;
  line-height: 59px;
  font-size: 14px;
  color: #333;
  border-color: transparent;
  -webkit-transition: color, border-color 0.2s;
  -moz-transition: color, border-color 0.2s;
  -ms-transition: color, border-color 0.2s;
  transition: color, border-color 0.2s;
}
.settings-cont .setting-left a:hover {
  color: #be3948;
}
.settings-cont .setting-left span.unbound {
  position: absolute;
  top: 20px;
  left: 112px;
  width: 45px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  background-color: #edf1f2;
  color: #787d82;
  text-align: center;
}
.settings-cont .setting-right {
  float: left;
  margin-left: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  width: 920px;
  _background-color: red;
}
.settings-cont .setting-right-wrap {
  position: relative;
  padding: 0 60px 30px 60px;
  min-height: 600px;
  padding-bottom: 200px;
}
.settings-cont .setting-right-wrap .rlf-tip-error {
  color: red;
}
.Prompt-layer {
  width: 150px;
  height: 120px;
  padding: 0!important;
}
.Prompt-layer i {
  font-size: 48px;
}
.Prompt-layer .ibox {
  text-align: center;
  padding: 20px 0 6px;
}
.Prompt-layer .icon-tick2 {
  color: #00b33b;
}
.Prompt-layer .icon-point {
  color: #cc0000;
}
.Prompt-layer span {
  display: block;
  height: 28px;
  line-height: 28px;
  color: #14191e;
  font-size: 14px;
  text-align: center;
}
.sig-head {
  height: 120px;
  text-align: center;
  background-color: #edf1f2;
}
.sig-head .sig-img {
  display: inline-block;
  height: 46px;
  width: 136px;
  background: url(/static/img/common/siglogo.png) no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 37px;
}
.vright {
  text-align: center;
  color: #b5b9bc;
  font-size: 12px;
  line-height: 50px;
}
input {
  font-family: "Microsoft Yahei", "微软雅黑";
}
.error {
  font-size: 12px;
  color: #f01400;
  height: 30px;
  line-height: 30px;
}
/*解除绑定弹层*/
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.75;
}
.modal-backdrop {
  background-color: #000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1040;
}
.msg-layer {
  width: 360px;
  height: 378px;
  position: fixed;
  background: #fff;
  z-index: 8888;
  margin-top: -125px;
  margin-left: -200px;
  left: 50%;
  top: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.keybox {
  padding-top: 36px;
  height: 96px;
  text-align: center;
}
.keybox i {
  color: #d0d6d9;
  font-size: 80px;
}
.msg-layer .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  background: url(/static/img/nlogin.png) no-repeat 0 0;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}
.msg-layer .btn-close:hover {
  background-position: 0 -21px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.msg-layer .account {
  color: #14191e;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}
.msg-layer .error {
  width: 300px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.msg-layer p {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #14191e;
}
.msg-layer input {
  margin: 0 auto;
  padding: 0 10px;
  width: 278px;
  height: 38px;
  border: 1px solid #d0d6d9;
  line-height: 38px;
  border-radius: 2px;
  font-size: 12px;
  color: #969b9e;
  display: block;
  color: #14191e;
}
.msg-layer input:focus {
  border-color: #98a1a6;
}
.msg-layer .inpt-error {
  border: 1px solid #f01400;
}
.msg-layer .inpt-error:focus {
  border: 1px solid #f01400;
}
.msg-layer .btn-submit {
  width: 300px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #f01400;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.msg-layer .btn-submit:hover {
  background-color: #ff6464;
}
